# Core Frameworks
streamlit==1.46.1
langchain
langchain-openai
langchain-google-genai
langchain-community
langchain-text-splitters

# Data Processing and Vector Stores
pypdf
chromadb==1.0.15
faiss-cpu

# Utilities
python-dotenv